<H1>All Tasks</H1>
<br>
<div class="list-group container">
  <a class="list-group-item active">
    <h3 class="list-group-item-heading">Signed in as <%= User.find(session[:user_id]).name %></h3>
    <p class="list-group-item-text"></p>
  </a>
</div>

<div class="list-group container">
  <%= render 'layouts/messages' %>
  <%= yield %>
  <%= link_to new_task_path, :class => "list-group-item" do %>
    <h4 class="list-group-item-heading lead" style = "color: green;">+ Add</h4>
    <p class="list-group-item-text" style = "color: green;">Create a new task</p>
  <% end %>
  <% @tasks.each do |task| %>
  <%= link_to task_path(task), :class => "list-group-item" do %>
  <div>
    <h4 class="list-group-item-heading"><%= task.title %></h4>
    <p class="list-group-item-text">Created <%= time_ago_in_words(task.created_at) %> ago</p>
  </div>
  <% end %>
  <% end %>
  <br>
  <p class="lead"><%= link_to "Logout", '/logout', class: "editLink" %></p> 
</div>