<div class = "register container">
<h2>Log-in<small><br>Sign into your account to access your saved to-do list</small></h2>
<hr/>
<div class = "container-fluid well">
<%= form_tag "/login" do %>

  <p  class = "lead"><%= label_tag  :email%></p>
  <%= text_field_tag  :email %><br>
  
  <p  class = "lead"><%= label_tag  :password%></p>
  <%= password_field_tag  :password %><br>
  
  <%= submit_tag  'Login', class: "btn btn-primary" %>
<% end %>
</div>
</div>